{% extends "shop/base.html" %}

{% block title %}
    {% if category %}{{ category.title }}{% else %}Товары{% endif %}
{% endblock %}
{% block content %}
    <div>
        <h1>{{ product.name }}</h1>
        <p>{{ product.price }}RUB</p>
        <p>{{ product.image }}</p>
        {{ product.description|linebreaks }}
    </div>
    <form action="{% url 'cart:cart_add' product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Add to cart">
</form>
{% endblock %}